<script type="text/javascript" src="{{ asset('bundles/spookyislandupload/js/toggle.js') }}"></script>
{% for listitem in gb2 %}
	<div class="dashed">		
		<a id='{{ path }}{{ listitem.name }}' name='{{ listitem.color }}' title="view {{ listitem.name }} on the map" href='#' onClick='poly(this);return false;'>
			{{ listitem.name }}
		</a>
		{% if app.user.username == listitem.usern %}
			<a id='{{ listitem.path }}{{ listitem.name }}' name='{{ listitem.name }}' title="delete {{ listitem.name }}" class="link" type='button' value='delete file' onClick='if (confirm("Are you sure to delete the file?")) {return del(this);return false;}'>
				<p class="icon-stack">
  					<i class="icon-check-empty icon-stack-base icon-large"></i>
					<i class="icon-trash icon-large"></i>
				</p>
			</a>
		{% endif %}
		<a id='{{ listitem.path }}{{ listitem.name }}' name='{{ listitem.name }}' title="download {{ listitem.name }}" class="link" type='button' value='download file' onClick='downl(this);return false;'>
			<i class="icon-download-alt icon-2x"></i>
		</a>
		<br>{{ listitem.time }}
		<br><i class="icon-male pull-left" title="user"></i> {{ listitem.usern }}
		<br>
	</div>
{% endfor %}
