<link rel="stylesheet" type="text/css" href="{{ asset('bundles/mapbendercore/mapquery/lib/jquery/themes/base/jquery-ui.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/mapbenderupload/css/font-awesome/css/font-awesome.min.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/mapbenderupload/mapbender.element.uploaderbutton.css') }}">
<script src="{{ asset('bundles/fomcore/js/jquery-1.9.1.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/mapbenderupload/js/jscolor/jscolor.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/mapbenderupload/js/uploadbundle.js') }}"></script>

<div id="{{ id }}"></div>

<div id="dialog">
	<div id="tabs">
    	<ul>
        	<li><a href="#import" title="upload a gpx file" onClick="$('#uploaderForm').trigger('reset'); $('#output').html('');return false;">Upload</a></li>
        	<li><a href="#last" type="submit" id="lastk" title="view last uploaded files">View</a></li>
        	<li><a href="#srch" title="view last uploaded files" onClick="$('#find').html(''); $('#fname').val('');return false;">Search</a></li>
    	</ul>
    
    	<div id="import">
        	<div id="select_gps">
				<form action="{{ path('mapbender_core_application_element', {'slug': appname, 'id': id, 'action': 'upload'} ) }}" id="uploaderForm" method="post" {{ form_enctype(form) }}>
					{{ form_widget(form) }}
					<label for="color"><br>Track color<br></label>
					<input type="text" id="color" class="color" name="color">
					<input id="upload" type="submit" name="submit" class="upload" value="Upload" onClick="$('#output').html('');">
				</form>
				<div id="output" class="output" name="output"></div>
			</div>
    	</div>
    
    	<div id="last">
    		<div id="vw">
				Latest five uploaded gps tracks
				<div id="tracks" class="tracks"></div>
			</div>
    	</div>
    
    	<div id="srch">
        	<div id="search_tk">
				<i class="icon-search pull-left"></i>
					Search by file name or date (dd-mm-yyyy)<br>
					<input type="text" id="fname"><br>
					<div id="find" class="find"></div>
  			</div>
    	</div>    
	</div>
</div>

<a href="#" type="submit" id="showall" title="upload files"><i class='icon-upload icon-large'></i><b> Upload</b></a>
